# Лабараторная №1. Основый предобработки данных

Используйте файл своей группы. <br>
Загрузите его в DataFrame и ответьте на вопросы, используя инстурменты из файла preprocessing.ipynb.


#### Воспросы
1. В какой шкале представлены все признаки в наборе?<br>
2. Укажите признак с наименьшей дисперсией.<br>
3. Среднее какого признака отличается для двух классов сильнее всего?<br>
4. В каком классе больше всего skilled работников?<br>
5. Есть ли в наборе признаки с выбросами? Какие?<br>
6. Сколько пропущенных значений в наборе?<br>
7. Попытайтесь заполнить пропущенные значения.<br>
8. Как минимум для одного признака каждого типа постройте диаграмму, которая может помочь его исследовать.<br>
9. Проанализируйте взаимосвязи признаков с помощью scatter-plot матрицы и тепловой карты корреляций. Какие выводы можно сделать?<br>
10. Какой признак(и) имеет смысл стандартизировать? Почему?<br>
11. Придумайте 1 новый признак, попытайтесь объяснить, почему он информативный.<br>

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

np.set_printoptions(precision=3)
pd.set_option('precision', 3)

sns.set()

In [5]:
path=''
credit_df = pd.read_csv('credit.csv', index_col=0)

1. Сhecking_status - порядковая !
2. Duration - абсолютная
3. Credit_history - номинальная
4. Purpose - номинальная
5. Сredit_amount - абсолютная
6. Savings_status - номинальная !
7. Employment - порядковая
8. Personal_status - номинальная
9. Property_magnitude - номинальная
10. Age - абсолютная
11. Housing - номинальная
12. Existing_credits - абсолютная  
13. Job - номинальная
14. Num_dependents - абсолютная
15. Foreign_worker - номинальная
16. Class - номинальная

In [8]:
credit_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,personal_status,property_magnitude,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,male single,real estate,67.0,own,2.0,skilled,1.0,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,female div/dep/mar,real estate,22.0,own,1.0,skilled,1.0,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,male single,real estate,49.0,own,1.0,unskilled resident,2.0,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,male single,life insurance,45.0,for free,1.0,skilled,2.0,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,male single,no known property,53.0,for free,2.0,skilled,2.0,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,0<=X<200,36.0,existing paid,furniture/equipment,9034.0,100<=X<500,<1,male single,no known property,29.0,rent,1.0,high qualif/self emp/mgmt,1.0,yes,bad
497,no checking,24.0,critical/other existing credit,furniture/equipment,1585.0,<100,4<=X<7,male single,life insurance,40.0,own,2.0,skilled,1.0,yes,good
498,0<=X<200,18.0,existing paid,radio/tv,0.0,<100,>=7,male mar/wid,real estate,32.0,own,1.0,unskilled resident,1.0,yes,good
499,>=200,6.0,critical/other existing credit,new car,1323.0,100<=X<500,>=7,male div/sep,car,28.0,own,2.0,skilled,2.0,yes,good
500,<0,24.0,existing paid,new car,3123.0,<100,<1,female div/dep/mar,life insurance,27.0,own,1.0,skilled,1.0,yes,bad

In [23]:
credit_df.var()
#дисперсия - это std*std => num_dependents обладает наименьшей дисперсией

duration            1.465e+02
credit_amount       2.657e+07
age                 1.378e+02
existing_credits    3.231e-01
num_dependents      1.233e-01
dtype: float64

In [12]:
credit_df.groupby('class').mean()
#вопрос 3

       duration  credit_amount     age  existing_credits  num_dependents
class
bad      25.255       4806.358  35.029             1.380           1.153
good     18.456       2794.648  35.821             1.398           1.140

In [22]:
credit_df[credit_df['job']=='skilled'].groupby('class').count()['job']
#вопрос 4

class
bad      80
good    232
Name: job, dtype: int64